connjur_ml.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified"
    vc:minVersion="1.0" vc:maxVersion="1.1">
    <xs:element name="CONNJUR_ML" type="CONNJUR_ComplexType"/>
    <!--   		An instance is  (1) One or more of <spectrum>, <spectrometer>, <event>, <agent> all wrapped within a <CONNJUR_ML> container; 
          ******************************************************************************************** *                      -->
    <xs:complexType name="CONNJUR_ComplexType">
        <xs:sequence>
            <xs:element name="spectrum" type="spectrumComplexType" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="spectrometer" type="spectrometerComplexType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="lineage" type="computationalLineage"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="spectrumComplexType">
        <xs:sequence>
            <xs:element name="spectrumIdentifier" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="spectralFormat" type="spectrumFormatComplexType"/>
            <xs:element name="spectralDimensions" minOccurs="0" maxOccurs="1"/>
            <xs:element name="spectralLayout" minOccurs="0" type="spectralLayoutComplexType"/>
            <xs:element name="spectralAxis" type="spectralAxisComplexType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="spectrometerComplexType">
        <xs:sequence>
            <xs:element name="strength" minOccurs="1" maxOccurs="1"/>
            <xs:element name="channel" type="spectralChannelComplexType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="spectrumFormatComplexType">
        <xs:sequence>
            <xs:element name="formatName" minOccurs="1"/>   <!-- nmrPipe -->
            <xs:element name="formatSpecification" minOccurs="0"/> <!-- URL -->
            <xs:element name="formatByteOrder" minOccurs="0"/>
            <xs:element name="formatNumericType" minOccurs="0"/> <!-- IEEE-float -->
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="spectralLayoutComplexType"/>
    <xs:complexType name="spectralAxisComplexType">
        <xs:sequence>
            <xs:element name="sweepwidth" minOccurs="1" maxOccurs="1"/>
            <xs:element name="pointType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="spacingUnits" minOccurs="1" maxOccurs="1"/> <!-- dw time -->
            <xs:element name="totalPoints" minOccurs="1" maxOccurs="1"/> <!-- total numbef of pointTypes -->
            <xs:element name="sign" minOccurs="1" maxOccurs="1"/>       <!-- frequency sign convention -->
            <xs:element name="phaseShift" minOccurs="1" maxOccurs="1"/> <!-- phase shift sign convention -->
            <xs:element name="encoding" minOccurs="0" maxOccurs="unbounded"/> 
            <xs:element name="decoupledNucleus" minOccurs="0" maxOccurs="unbounded"/> 
            <xs:element name="constantPhase" minOccurs="0" maxOccurs="1"/>
            <xs:element name="linearPhase" minOccurs="0" maxOccurs="1"/>
            <xs:element name="domain" minOccurs="1" maxOccurs="1"/>   <!-- time/freq -->
            <xs:element name="sampling" minOccurs="1" maxOccurs="1"/> <!-- uniform / nus -->
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="spectralChannelComplexType">
        <xs:sequence>
            <xs:element name="nucleus" minOccurs="1" maxOccurs="1"/>
            <xs:element name="frequency" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
                    <xs:complexType name="computationalLineage">
                        <xs:sequence>
                            <xs:element name="computationalLineageIdentifierType">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="authority" type="xs:string"/>
                                            <xs:attribute name="authorityURI" type="xs:anyURI"/>
                                            <xs:attribute name="valueURI" type="xs:anyURI"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="computationalLineageIdentifierValue" type="xs:string"/>
                            <xs:element name="computationalLineageInstantiationDate">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="authority" type="xs:string"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="computationalLineageCreator" type="xs:string"/>
                            <xs:element name="computationalLineageOrigin" type="xs:string"/>
                            <xs:element name="computationalLineageFork">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="computationalLineageForkDate"
                                            type="xs:string"/>
                                        <xs:element name="computatationlLineageForkType"
                                            type="xs:string"/>
                                        <xs:element name="computationalLineageForkSubType"
                                            type="xs:string"/>
                                        <xs:element name="computationalLineageForkValue"
                                            type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="computationalLineageReferenceRepository">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element
                                            name="computationalLineageReferenceRepositoryIndentiferType"
                                            type="xs:string"/>
                                        <xs:element
                                            name="computationalLineageReferenceRepositoryIndentiferValue"
                                            type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="computationalLineageLinkingExternalEventIdentifier">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element
                                            name="computationalLineageLinkingExternalEventType"
                                            type="xs:string"/>
                                        <xs:element
                                            name="computationalLineageLinkingExternalEventValue"
                                            type="xs:string"/>
                                        <xs:element
                                            name="computationalLineageLinkingEmbeddedObjectType"
                                            type="xs:string"/>
                                        <xs:element
                                            name="computationalLineageLinkingEmbeddedObjectValue"
                                            type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="computationalLineageEmbeddedObjectGroup"
                                type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                <xs:element name="experimentalWorkflow" type="xs:string"/>

</xs:schema>
